<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="stylesheet" href="${request.contextPath}/statics/css/bootstrap.min.css?${version}">
<link rel="stylesheet" href="${request.contextPath}/statics/css/font-awesome.min.css?${version}">
<link rel="stylesheet" href="${request.contextPath}/statics/plugins/jqgrid/ui.jqgrid-bootstrap.css?${version}">
<link rel="stylesheet" href="${request.contextPath}/statics/plugins/ztree/css/metroStyle/metroStyle.css?${version}">
<link rel="stylesheet" href="${request.contextPath}/statics/css/main.css?${version}">
<link rel="stylesheet" href="${request.contextPath}/statics/plugins/layui/css/layui.css?${version}">
<link rel="stylesheet" href="${request.contextPath}/statics/css/jquery-ui.css?${version}">
<link rel="stylesheet" href="${request.contextPath}/statics/plugins/element-ui/element-ui.css?${version}">

<script src="${request.contextPath}/statics/libs/jquery.min.js?${version}"></script>
<script src="${request.contextPath}/statics/plugins/layer/layer.js?${version}"></script>
<script src="${request.contextPath}/statics/libs/bootstrap.min.js?${version}"></script>
<script src="${request.contextPath}/statics/libs/vue.min.js?${version}"></script>
<script src="${request.contextPath}/statics/plugins/jqgrid/grid.locale-cn.js?${version}"></script>
<script src="${request.contextPath}/statics/plugins/jqgrid/jquery.jqGrid.min.js?${version}"></script>
<script src="${request.contextPath}/statics/plugins/ztree/jquery.ztree.all.min.js?${version}"></script>
<script src="${request.contextPath}/statics/js/common.js?${version}"></script>
<script src="${request.contextPath}/statics/plugins/layui/layui.js?${version}"></script>
<script src="${request.contextPath}/statics/plugins/typeahead/bootstrap3-typeahead.min.js?${version}"></script>
<script src="${request.contextPath}/statics/libs/axios.min.js?${version}"></script>
<script src="${request.contextPath}/statics/libs/jquery-ui.js?${version}"></script>
<script src="${request.contextPath}/statics/libs/validator.js?${version}"></script>
<script src="${request.contextPath}/statics/libs/http.js?${version}"></script>
<script src="${request.contextPath}/statics/js/document.js?${version}"></script>
<script src="${request.contextPath}/statics/plugins/element-ui/element-ui.js?${version}"></script>
<script src="${request.contextPath}/statics/js/component/publicjggrid.js?${version}"></script>